<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.west2.fzuTimeMachine.dao.TimePraiseDao">

	<insert id="mark" parameterType="TimePraise" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO time_praise(userId,timeId,createTime) VALUES (#{userId}, #{timeId}, #{createTime})
	</insert>

	<select id="get" resultType="TimePraise">
		SELECT
			   id,userId,timeId,createTime
		FROM time_praise
		WHERE userId = #{userId}
	</select>
	<delete id="unmark">
		DELETE
		FROM time_praise
		WHERE userId = #{userId}
	</delete>
</mapper>  