<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.west2.fzuTimeMachine.dao.TimeDao">

	<insert id="save" parameterType="Time" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO
			time(userId, title, imgUrl, content, longitude, latitude, createTime, updateTime, label,
				 praiseNum, checkStatus, visible)
		VALUES
			(#{userId}, #{title}, #{imgUrl}, #{content}, #{longitude}, #{latitude}, #{createTime}, #{updateTime}
				, #{label}, #{praiseNum}, #{checkStatus}, #{visible})
	</insert>

	<update id="updateStatusAndVisible">
		UPDATE
			time
		SET
			checkStatus = #{checkStatus},
			visible = #{visible}
		WHERE
			id = #{id}
	</update>

	<select id="get" resultType="Time">
		SELECT
			id, userId, title, imgUrl, content, longitude, latitude, createTime, updateTime, label, praiseNum, checkStatus
		FROM
			time
		WHERE
			id = #{id}
	</select>

	<update id="update" parameterType="Time">
		UPDATE
			time
		SET
			<if test="title != null">
				title = #{title},
			</if>
			<if test="content != null">
				content = #{content},
			</if>
			<if test="label != null">
				label = #{label},
			</if>
		WHERE
			id = #{id}
	</update>

	<update id="updatePraise">
		UPDATE
			time
		SET
			praiseNum = #{praiseNum}
		WHERE
			id = #{id}
	</update>

	<update id="updateVisible">
		UPDATE
			time
		SET
			visible = #{visible}
		WHERE
			id = #{timeId}
	</update>

	<select id="getByUserId" resultType="Time">
		SELECT
			title, imgUrl, content, createTime, updateTime, label, praiseNum
		FROM
			time
	  	WHERE
			userId = #{userId}
	</select>

	<select id="getByUncheck" resultType="Time">
		SELECT
			id, userId, title, imgUrl, content, label
		FROM
			time
		WHERE
			checkStatus = 0
	</select>

</mapper>  