<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.west2.fzuTimeMachine.dao.TimePraiseDao">

	<insert id="save" parameterType="TimePraise" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO
			time_praise(userId,timeId,createTime)
		VALUES
			(#{userId}, #{timeId}, #{createTime})
	</insert>

	<select id="getByUserId" resultType="TimePraise">
		SELECT
			id,userId,timeId,createTime
		FROM
			time_praise
		WHERE
			userId = #{userId}
	</select>

	<delete id="deleteByUserId">
		DELETE
		FROM
			time_praise
		WHERE
			userId = #{userId}
	</delete>

</mapper>  